.home {
  // display: flex;
  // justify-content: flex-start;
  position: relative;
  // left: 0;
  background-color: #070507;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  color: #fff;
  &__row {
    display: flex;
    // flex-direction: column;
    // width: 100%;
    &__tree {
      position: relative;
      flex: 0 1 25%;
      height: 100vh;
      padding: 2rem;
      // outline: 1px solid red;
      background-color: #1e1f1c53;
      ul {
        list-style-type: none;
        li {
          width: 70%;
          height: 12px;
          background-color: #fff;
          &:not(:last-of-type) {
            margin: 0 0 1rem 0;
          }
        }
        // padding: 0;
      }
      &__item {
        width: 70%;
        height: 12px;
        background-color: #fff;
        &:not(:last-of-type) {
          margin: 0 0 1rem 0;
        }
      }
    }
    &__content {
      flex: 1 1 100%;
      padding: 5rem 0 5rem 4rem;
    }
    &__code {
      width: 600px;
      // outline: 1px solid red;
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      column-gap: 14px;
    }
    &__info {
      padding: 2rem 0 2rem 3rem;
    }
    &__name {
      font-size: 64px;
    }
    &__subname {
      font-size: 24px;
      font-weight: 700;
    }
  }
  &__item {
    background-color: red;
    width: 20px;
    height: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}
